body {
	font-family: 'Roboto', sans-serif;
}
.title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.block{
	border: 1px solid #999;
	border-radius: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
} 
.circle {
	border-radius: 20px;
}
